# Ignore heavy dataset files (images & weights)
images/
*.pth
*.pt

# Ignore only large JSON if needed (NOT all)
# Example: ignore only specific large files if required
# large_file.json

# Python cache
__pycache__/
*.pyc
polyvore_item_metadata.json
